<html>
  <body>
    <% if flash[:update_comment_warning] %>
    <div class='alert alert-danger' role='alert'>
      <%= flash[:update_comment_warning] %>
      <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
        <span class="close-button" aria-hidden='true'>&times</span>
      </button>
    </div>
    <% end %>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Ah mince, ce commentaire contient un erreur ?!?!?</h1>
          <h2 class="display-5">Heureusement que tu es là pour corriger ça  !!! Modifie-le ou supprime-le!</h2>
          <hr>
          <hr>

        </div>
        <div class="container">
          <div class="form">

            <%= form_tag url_for(action: 'update'), method: "patch" do %>

            <div class="form-item">
              <%= label_tag 'Contenu du potin' %>
              <%= text_area_tag 'gossip_content', @edit_comm.content %>
            </div>

            <div class="form-item">
              <%= submit_tag "Mettre à jour le commentaire" %>
            </div>

            <% end %>
          </div>
        </div>
        <p><a
          class="btn btn-danger btn-lg"
          href="<%=gossip_comment_path(id: @edit_comm, gossip_id: @edit_comm.gossip.id)%>"
          rel="nofollow"
          data-method="delete"
          data-confirm="Es-tu sûr de vouloir supprimer le commentaire?"
          role="button">Supprimer le commentaire &raquo;
        </a></p>


      </div>
    </main>
  </body>
</html>
