<html>
  <body>
    <% if flash[:warning] %>
    <div class='alert alert-danger' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>Warning!</strong> <%=flash[:warning]%></div>
    <% end %>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Youpi un nouveau potin !!!</h1>

        </div>
        <div class="container">
          <div class="form">

          <%= form_tag url_for(action: 'create'), method: "post" do %>

          <div class="form-item">
            <%= label_tag 'Titre du nouveau Potin' %>
            <%= text_field_tag 'gossip_title', @post.title %>
          </div>

          <div class="form-item">
            <%= label_tag 'Contenu du nouveau potin' %>
            <%= text_area_tag 'gossip_content', @post.content %>
          </div>

          <div class="form-item">
            <%=select_tag "tag_id", options_from_collection_for_select(Tag.all, "id", "title"), include_blank: 'Tags'%>
          </div>

          <div class="form-item">
            <%= submit_tag "Créer le potin" %>
          </div>

          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
