<html>
  <body>
    <% if flash[:warning] %>
    <div class='alert alert-danger' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>Warning!</strong> <%=flash[:warning]%></div>
    <% end %>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Youpi un nouveau potin !!!</h1>

        </div>
        <div class="container">
          <%= form_tag url_for(action: 'create'), method: "post" do %>

          <%= label_tag 'Title' %>
          <%= text_field_tag 'gossip_title', @post.title %>
          <br /> <br />

          <%= label_tag 'Body' %>
          <%= text_area_tag 'gossip_content', @post.content %>
          <br /> <br />

          <%= label_tag 'Author' %>
          <%= text_field_tag 'author', @post.user_id %>
          <br /> <br />

          <%= submit_tag "Create Post" %>

          <% end %>
        </div>

        <form class="form" method="post" action="/gossips#create">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

              <label for="title">Titre du Potin</label>
              <input
                class="form-item"
                id="title"
                name="gossip_title"
                type="text"
                value="<%= @post.title %>"
              />

              <label for="body">Contenu du potin</label>
              <textarea
                class="form-item"
                id="body"
                name="gossip_content"
              ><%= @post.content %>
              </textarea>

              <label for="author">Auteur du potin</label>
              <input
                class="form-item"
                id="author"
                name="author"
                type="text"
                value=""
              />

              <input type="submit" value="Create Post" />

        </form>

      </div>
    </main>
  </body>
</html>
