<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>City page</title>
  </head>
  <body>

    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><%= @city.name %></h1>
          <hr>
          <hr>
        </div>
        <div class="container">
          <h1 class="display-5">Dans cette ville, ont été postés les potins suivants :</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% @city.gossips.each do |gossip| %>
          <div class="col-md-4">
            <div class="title_gossip">
              <h2>Potin n°<%= gossip.id%> :</h2>
              <% if session[:user_id]%>
                <% if like = is_like?(gossip.id)%>
                  <h2><a class=" heart heart_index" href="<%= gossip_like_path(gossip_id: gossip.id, id: like.id)  %>" role="button" data-method="delete"><i class="fas fa-heart"></i><span class="tooltiptext">J'aime déjà</span></a></h2>
                <% else %>
                  <h2><a class=" heart heart_index" href="<%= gossip_likes_path(gossip.id) %>" role="button" data-method="create"><i class="fas fa-heart-broken"></i><span class="tooltiptext">Aimer ce potin</span></a></h2>
                <% end %>
              <% end %>
            </div>
            L'utilisateur : <%= link_to "#{gossip.user.first_name} #{gossip.user.last_name}", user_path(gossip.user.id) %><br>
            A posté le potin : <%= link_to gossip.title, gossip_path(gossip.id)%>
            <p><a class="btn btn-secondary" href="<%= gossip_path(gossip.id)%>" role="button">View details &raquo;</a></p>
          </div>
          <%end %>
        </div>
      </div>
    </main>
  </body>
</html>
